.start{
  margin-top: 15px;
  /* display: none; */
}
#tlo{
  display: block;
  background-color: rgb(203, 228, 250);
  width: 20%;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
}
.checked{
  position:relative;
  background-color: rgb(42, 241, 142);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}
.container {
	display: flex;
}

/*weight of element*/
.dr {
	text-align: right;
	font-size:1vmin;
}

/*symbol name*/
.symbol{
  font-size:2vmin;
  text-align: center
}

/*num of element*/
.num_of_ele{
  position: absolute;
  left:0.1vmin;
  bottom: 0.1vmin;

  font-size: 1vmin;
  text-align: left;
}

.green {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_green {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.lime_green {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.pink{
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.blue {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.orange {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_orange {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.red {
  position:relative;
  background-color:rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_red {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.yellow {
  position:relative;
  background-color: rgb(173, 173, 173);
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.invis {
  position:relative;
  background-color: rgb(173, 173, 173);
  opacity: 0;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

p.gone{
	visibility: hidden;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #cdeefd;
  padding: 10px;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
input[type=text] {
  background-color: #cdeefd;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #cdeefd;;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #cdeefd;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #cdeefd;
  border-bottom: 1px solid #cdeefd;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #cdeefd;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #cdeefd;
}
textarea:focus, input:focus{ outline: none; }

