.container {
	display: flex;
}


.dr {
	text-align: right;
	font-size:1vmin;
}


.symbol{
  font-size:2vmin;
  text-align: center
}


.num_of_ele{
  position: absolute;
  left:0.1vmin;
  bottom: 0.1vmin;

  font-size: 1vmin;
  text-align: left;
}

.green {
  position:relative;
  background-color: lightgreen;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_green {
  position:relative;
  background-color: darkgreen;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.lime_green {
  position:relative;
  background-color: #80ffd4;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.pink{
  position:relative;
  background-color: #ff33bb;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.blue {
  position:relative;
  background-color: lightblue;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.orange {
  position:relative;
  background-color: #f7d076;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_orange {
  position:relative;
  background-color: #b35900;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.red {
  position:relative;
  background-color:#ffb3b3 ;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.dark_red {
  position:relative;
  background-color:#992600 ;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.yellow {
  position:relative;
  background-color: #e6f776;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

.invis {
  position:relative;
  background-color: lightgreen;
  opacity: 0;
  width: 5vw;
  height: 5vh;
  padding: 2px;
  margin: 2px;
  float: left;
}

p.gone{
	visibility: hidden;
}