body{
  background-image: url(../img/tło.jpg);
}
td {
  border: 2px solid black;
  border-style: outset;
  background-color: rgb(177, 42, 218);
  width: 200px;
  height: 200px;
  font-size: xx-large;
  text-align: center;
  color: white;
}
table{
  margin: auto;
}
.wygrana{
  color: rgb(8, 197, 8);
}

.hide{
  display: none;
}
.visible{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: red;
  display: block;
  margin: auto;
}
h1{
  text-align: center;
}